.intro_margin {
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1024px) {
  .intro_margin {
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro_margin {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro_margin {
    margin: 64px 16px 0;
  }
}
