.places_margin {
  margin: 92px 148px 0;
}

@media screen and (max-width: 1024px) {
  .places_margin {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places_margin {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 500px) {
  .places_margin {
    margin: 64px 0 0;
  }
}
