.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 32px 0;
  }
}
