.photo-grid_margin_standart {
  margin: 92px 48px 0;
}

@media screen and (max-width: 768px) {
  .photo-grid_margin_standart {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid_margin_standart {
    margin: 64px auto 0;
  }
}
